<p id="notice"><%= notice %></p>

<p>
  <b>Street:</b>
  <%= @destination.street %>
</p>

<p>
  <b>Spot:</b>
  <%= @destination.spot %>
</p>


<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
